<div class="container animated fadeIn  p-5 delay-1s">
  <div
    *ngIf="!hideLoader"
    class="row justify-content-center has-background mb-4 p-5 rounded animated fadeIn shadow"
  >
    <img class="rotated mb-5" width="250px" src="assets/svg/starman.svg" />
    <h1
      class="display-4 font-weight-lighter animated fadeIn "
      *ngIf="!timerFired"
    >
      Sit tight. Initialising boosters...
    </h1>
    <h1
      class="display-4 font-weight-lighter animated fadeIn  delay-1s"
      *ngIf="timerFired"
    >
      Initialised. Loading interface.
    </h1>
  </div>
  <div class="row has-background p-3 mb-4 rounded shadow" *ngIf="hideLoader">
    <div class="d-flex align-items-center">
      <div class="mr-2">
        <h3 class="display-4">
          Welcome to Interstellar Spaceways.
        </h3>
        <hr />
        <p class="lead">
          Space travel for those with discerning tastes, and deep pockets.
        </p>
      </div>
      <div><img class="ml-2" src="assets/svg/launch.svg" width="200px" /></div>
    </div>
  </div>
  <div class="row justify-content-center rounded-top shadow" *ngIf="hideLoader">
    <div
      class="col-md-8 order-md-1 has-background p-3 rounded-left right-shadow animated fadeIn"
      *ngIf="!calculated"
    >
      <form>
        <h4 class="mb-3">Trip basics</h4>
        <p class="font-weight-lighter">
          Let us know where you're travelling from and where you're headed, and
          we'll do the rest.
        </p>
        <hr />
        <div class="form-group">
          <label for="exampleInputEmail1">Travelling From</label>
          <ng-select
            [items]="planetData"
            bindLabel="planetName"
            bindValue="planetNode"
            [(ngModel)]="selectedStartPlanetNode"
            (change)="onChange($event)"
            name="selectedStartPlanetNode"
            required
          >
          </ng-select>
          <small id="emailHelp" class="form-text text-muted"
            >Where are we launching from?</small
          >
        </div>
        <hr />
        <div class="form-group">
          <label for="exampleInputPassword1">Travelling To</label>
          <ng-select
            [items]="planetData"
            bindLabel="planetName"
            bindValue="planetNode"
            [(ngModel)]="selectedEndPlanetNode"
            (change)="onChange($event)"
            name="selectedEndPlanetNode"
            required
          >
          </ng-select>
          <small id="emailHelp" class="form-text text-muted"
            >Where are we landing?</small
          >
        </div>
        <hr />
        <p class="warning animated fadeIn" *ngIf="notValid">
          Please note that source and destination are required.
        </p>
        <hr *ngIf="notValid" />
        <button
          type="button"
          class="btn btn-primary btn-block"
          (click)="calculateDistance()"
          [disabled]="changeButton"
        >
          {{ !changeButton ? 'Plan Route' : 'Calculating...' }}
        </button>
      </form>
    </div>
    <div
      class="col-md-8 order-md-1 has-background p-3 rounded-left right-shadow animated fadeIn"
      *ngIf="calculated"
    >
      <h4 class="display-5 font-weight-lighter">Your Itinerary is ready.</h4>
      <hr />
      <p class="font-weight-lighter">
        Below is our recommended route for your journey. Our state of the art
        Spaceships will guide you past amazing interstellar objects with no
        fuss. There will also be a lot of nothing since we're travelling in
        space.
      </p>
      <p class="font-weight-lighter">
        Not to worry, our media library and cryogenic facilities are the best in
        the galaxy.
      </p>
      <hr />
      <p class="lead">
        Total stops:
        <span class="font-weight-bolder">{{ selectedPath.length }}</span
        >. Total Lightyear travel:
        <span class="font-weight-bolder">{{ selectedDistance }}</span>
      </p>
      <hr />
      <div class="timeline mb-5">
        <p *ngFor="let path of selectedPath">
          <span class="path-span d-block p-2 pl-0 font-weight-bold mb-2">{{
            path.planetName
          }}</span>
          - {{ path.fact }}
        </p>
      </div>
      <hr />
      <button
        type="button"
        class="btn btn-primary btn-block"
        (click)="goBack()"
      >
        Try a Different Route
      </button>
    </div>
    <div
      class="col-md-4 order-md-2 p-3 progress-block is-create rounded-right animated fadeIn"
    >
      <div class="d-flex align-items-center h-100">
        <div>
          <img class="img-fluid animated fadeIn" src="assets/svg/space.svg" />
        </div>
      </div>
    </div>
  </div>
</div>
